<!DOCTYPE html>
<html>

<head>
    <title>Link Shortener</title>
</head>

<body>
    <h1>Link Shortener</h1>
    <form action="/api/n/shorten" method="POST">
        <input style="width: 300px;" type="text" name="url" placeholder="Enter URL" />
        <button type="submit">Shorten</button>
    </form>
    <h4>Do you wan't a custom link? for eg: https://example.com/c/docs then <a href="/custom"> Click Here </a></h4>
</body>

</html>